    <div class="contain-to-grid sticky"  >
      <nav class="top-bar">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1>
              <a href="/">
                <span style="font-family: 'Jolly Lodger', cursive;font-size: 50px;font-weight: bold;color:#339BB9">
                  Social</span>
                  <span style="font-family: 'Jolly Lodger', cursive;font-size: 50px;font-weight: bold;color:#6aa4c5">
                  Recall</span>
                <span style="font-family: 'Jolly Lodger', cursive;font-size: 50px;font-weight: normal;color:#C81419"></span>
       
              </a>
            </h1>
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon">
            <a href="#">
              <span>Menu</span>
            </a>
          </li>
        </ul>

        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <!-- Right Nav Section -->
          <ul class="right">
<!--            <li class="divider hide-for-small"></li>
            <li>
              <a href="/">Home</a>
            </li> -->
            <li class="divider hide-for-small"></li>
            <li>
              <a href="app#!/new/quick_plan">Create a quick plan</a>
            </li>
            <li class="divider hide-for-small"></li>
            <li class="">
              <a href="/about">About</a>
            </li>
            <li class="divider"></li>
          </ul>
        </section>

      </nav>
    </div>