<div id="poll-test">
<div ng-switch on="poll.step" ng-init="poll.step='title'" >
	<div ng-switch-when="title">

		<div class="">
			<label class="control-label" for="title">What are you trying to remember?</label>
			<input type="text"  autofocus="true"  ng-model="rehapp.title"  tabindex="1"
          placeholder="eg: End of uni goodbye party"/>
		</div>

		<div class="small round button right"    ui-keypress="{13:'poll.step=\'description\''}"
           tabindex="4" ng-click="poll.step='description'" id="rehapp-title-button" >Next</div>
	</div>

	<div ng-switch-when="description">
		<div class="">
			<label class="control-label" for="description">What do you remember about it?</label>
			<textarea type="text"   ng-model="rehapp.description"  tabindex="1"
          placeholder="eg: Bad 80's music"/>
		</div>

		<div class="small round button"   ui-keypress="{13:'poll.step=\'description\''}"
           tabindex="4" ng-click="poll.step='title'" >Back</div>
		<div class="small round button right"   ui-keypress="{13:'poll.step=\'description\''}"
           tabindex="4" ng-click="poll.step='home'" >Next</div>
	</div>
</div>
</div>
