<% content_for :head do %>
<meta charset='utf-8'>
<meta name="fragment" content="!">

<meta content='<%= ENV['APPLICATION_NAME' ] %>' itemprop='name'>
<meta content='<%= I18n.t :site_name %> is the best place find, create and share events.' itemprop='description'>
<meta content='<%= ENV['APPLICATION_NAME' ] %>,crowdsource,events,spain,madrid,barcelona,valencia' name='keywords'>

<link href='http://fonts.googleapis.com/css?family=Jolly+Lodger' rel='stylesheet' type='text/css'>
<% end %>



<div class="container"  ng-app="baseApp" >

   <%= render "main/top_bar" %>

  <div class="row small-12 columns" 
    style="padding-top:20px;background:white;min-height: 1000px">
    
    <div style="margin-top:10px"  ng-view></div>



  </div>
</div>


